html {
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    margin: 10px;
}

header {
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form,
.results {
    background-color: white;
    padding: 20px !important;
    border-radius: 2%;
    /* border: 1px solid rgb(174, 174, 174); */
    box-shadow: 5px 5px 5px rgb(174, 174, 174);
}

.results {
    border-radius: 0% !important;
}

.loading {
    display: none;
}

.link {
    text-decoration: none;
}


@media (min-width: 700px) {
    .form {
        padding: 50px;
    }
} 