html {
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    margin: 10px;
}

header {
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form {
    background-color: white;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgb(174, 174, 174);
}


@media (min-width: 700px) {
    .form {
        min-width: 400px;
        padding: 50px;
    }
}