<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="./static/index.css" rel="stylesheet" type="text/css">
    <title>GMB Scraping</title>
</head>
<body class="body">
    <header class="d-flex justify-content-between">
        <h1>GMB Scraping</h1>
    </header>
    {% if error %}
        <div style="margin: 20px" class="d-flex justify-content-center">
          <h2>{{error}}</h2>
        </div>
      {% endif %}
    <section class="container">
        <form class="form" action="/" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Type of Business / Tipo de Negocio</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="business">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Search Area / Area de Busqueda</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="area">
            </div>
            <div class="mb-3">
                <p class="form-label">Claimed or Unclaimed  / Reclamado o No Reclamado</p>
              <select class="form-control" name="type">
                <option>
                  All / Todo
                </option>
                <option>
                    Claimed / Reclamado
                </option>
                <option>
                    Unclaimed / No Reclamado
                </option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">OK</button>
          </form>
    </section>
    <!-- <div style="margin: 20px" class="loading d-flex justify-content-center">
      <h2>Please wait / Por favor espere ...</h2>
    </div> -->
    <!-- <script>
      function form_submitted() {
        loadingMessage = document.querySelector(".loading");
        loadingMessage.style.display = "block";
      }
    </script> -->
</body>
</html>